@font-face {
  font-family: "LilitaOne";
  src: url("./fonts/LilitaOne_Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "DMSans";
  src: url("./fonts/DMSans_Regular.ttf") format("truetype");
  font-weight: 400;
}
